.actions {
    margin: 0 auto;
    box-sizing: border-box;
    width: 120px;
    height: 360px;
    background-color: #b7d4a8;
    border: 10px solid black;
    border-radius: 10px;
    font: bold 20px "Courier";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.lila-button {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #489c1d 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.lila-button:hover {
	background:linear-gradient(to bottom, #489c1d 5%, #77b55a 100%);
	background-color:#489c1d;
}
