.game-lost-container {
  width: 400px;
  display: grid;
  grid-template-rows: 225px 50px 20px 20px 50px;
  grid-gap: 15px;
  margin-top: 50px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  .overflow: hidden;
}

.lilah-img {
  margin-left: 117px;
  margin-top: 75px;
  height: 225px;
  width: 225px;
}

.circle-around-lilah-lost-img {
  border-radius: 50%;
      width: 210px;
      height: 210px;
      position: relative;
      bottom: 184px;
      right: 41px;
      box-shadow: 0px 0px 1px 6px rgb(220 20 60),
      0px 0px 0px 12px white,
      0px 0px 2px 15px rgb(220 20 60 / 60%),
      0px 0px 0px 21px white,
      0px 0px 1px 23px rgb(220 20 60 / 30%);
}

h2.game-lost-title {
  margin-top: 45px;
  color: rgb(220 20 60);
  font-size: 40px;
}

.red {
  color: rgb(220 20 60);
  font-weight: 800;
}

button.play-again-lost-button {
  border-radius: 10px;
  background-color: #CD5C5C; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
}
