:root {
  --colour1: #9DA3AA;
  --colour2: #2c3e50;
  --speed: .6s;
}

.balanceBar {
  height: 14px;
  border: 1px #ccc solid;
  border-radius: 2px;
  width: 90%;
  box-shadow: 1px 4px 8px -3px rgba(44, 62, 80, 1);
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.balanceSection {
  display: inline-block;
  height: inherit;
  font-size: 10pt;
  vertical-align: center;
  text-align: center;
  opacity: .5;
}

.balanceSection p {
  margin: 0;
  padding: 3px;
}

.loseSection {
  background-color: red;
}

.middleSection {
  background-color: yellow;
}

.winSection {
  background-color: lightgreen;
}

.current {
  height: 6px;
  bottom: 23px;
  transition: width 0.5s ease-in-out;
  position: relative;
  opacity: 1;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  background-color: var(--colour2);
  background-image: repeating-linear-gradient(-45deg,
    transparent 0 5px,
  var(--colour1) 5px 10px);
}

.center-balance {
  display: flex;
  justify-content: center;
}
