.container-drink-water-game {
  display: grid;
  grid-template-columns: 1fr calc(var(--lilah-size) * 8) 1fr;
  grid-template-rows: 1fr calc(var(--lilah-size) * 3.5) 1fr;
}

.container-bathroom {
  grid-column: 2;
  grid-row: 2;
  background-color: lightgrey;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  border: 2px solid black;
}

.container-lilah-stats {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--lilah-bg-colour);
  padding-top: 5px;
}

.container-lilah-actions {
  grid-column: 3;
  grid-row: 2;
  background-color: var(--lilah-bg-colour);
}

.container-lilah-title {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--lilah-bg-colour);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;

}

.container-lilah-filler {
  background-color: var(--lilah-bg-colour);
  grid-column: 3;
  grid-row: 3;
}

.drink-water-game-title {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container-player-stats {
  grid-column: 2;
  grid-row: 3;
  background-color: var(--player-bg-colour);
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-player-actions {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--player-bg-colour);
}

.container-player-title {
  grid-column: 1;
  grid-row: 3;
  background-color: var(--player-bg-colour);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}


.container-player-filler {
  background-color: var(--player-bg-colour);
  grid-column: 1;
  grid-row: 1;
}

.drink-water-game-title img {
  padding-left: 22px;
}
