.player-move-actions {
    margin: 0 auto;
    box-sizing: border-box;
    width: 180px;
    font: bold 20px "Courier";
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-move-button {
	box-shadow: 0px 10px 14px -7px #ccc;
  background-color: #FDEDF4;
	border-radius:4px;
	border:1px solid #ccc;
	display:inline-block;
	cursor:pointer;
	color:#666;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
  width: 80px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ccc;
}

.player-move-button:hover {
	background-color: #ccc;
  color: #eee;
}
