html {
  /* background-color: #282c34; */
  color: black;
}

/* overall app container */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

/* bathroom container */
.container-bathroom {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.container-footer {
  grid-row: 2;
  display: grid;
  justify-content: center;
}
