html {
  background-color: lavender;
  color: black;
}

/* overall app container */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  justify-items: center;
}

.container-footer {
  grid-row: 2;
  display: grid;
  justify-content: center;
}

* {
  font-family: "Arial"
}
