:root {
  --lila-size: 45px;
}

.lila-container {
  display: grid;
  grid-template-columns: calc(var(--lila-size) * 10));
  grid-template-rows: 2fr 1fr;
  grid-gap: 5px;
  justify-items: left;
  align-items: center;
}

.lila {
  width: var(--lila-size);
  height: var(--lila-size);
  border-radius: 100%;
  background-color: #333;
  grid-row: 2;
  transition: margin 0.5s ease-in-out;
  /* margin-top: -50px; */
}

.sink {
  width: calc(var(--lila-size) * 2);
  height: calc(var(--lila-size) * 2);
  border-radius: 100%;
  background-color: blue;
  grid-row: 1;
  margin-left: calc(var(--lila-size) * 2.5);
}
